* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100svh; /* 🔥 clave para móviles */
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1f1c2c, #928dab);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px; /* evita que quede pegado arriba */
}

.app {
  background: #111;
  color: white;
  padding: 25px;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

#pregunta {
  font-size: 18px;
  margin-bottom: 15px;
}

.opcion {
  background: #2c2c2c;
  padding: 14px;
  margin: 10px 0;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.opcion:hover {
  background: #ff4757;
}

.opcion.seleccionada {
  background: #ff6b81;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 14px;
  background: #1e90ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#resultado {
  font-size: 20px;
  margin-top: 20px;
  color: #ff4757;
}
